version: "3.9"

services:
  api:
    build: ./api
    ports:
      - "8787:8787"
    env_file: .env
    volumes:
      - ./data:/data

  web:
    build: ./web
    ports:
      - "3000:3000"
    depends_on:
      - api
